
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans' !important;
  background-color: #f9f9fa;
  color: #262526;
}

.ui.inverted.menu {
  border-radius: 0;
  background: #262526;
  font-family: 'Open Sans';
}

.ui.sub.header {
  margin: 0;
}

.center-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}